<%= form_for [@pronoun] do |f| %>
  <% if @pronoun.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pronoun.errors.count, "error") %> prohibited this pronoun from being saved:</h2>

      <ul>
      <% @pronoun.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><em>Please enter your preferred pronouns.
    All existing choices are listed below.
    Please confirm that we don't already have your choice, and follow the format of the others.</em></p>
    <%= f.text_field :preferred_pronouns %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

<h2>Existing Pronouns</h2>
<%= render 'table', pronouns: Pronoun.all %>
