<%= content_for :page_title, "Pronouns" %>

<h1>Pronouns <%= link_to image_tag("add.png"), new_pronoun_path, title: "Add New Pronouns" %></h1>

<table>
  <% @pronouns.each do |pronoun| %>
    <tr>
      <td><%= pronoun.preferred_pronouns %></td>
      <% if current_user.can? :edit, PronounsController %>
        <td><%= link_to image_tag('wrench.png'), edit_pronoun_path(pronoun),
                title: "Edit #{pronoun.preferred_pronouns}" %></td>
        <td><%= link_to image_tag('delete.png'), pronoun, method: :delete,
                data: { confirm: 'Are you sure?' }, title: "Delete #{pronoun.preferred_pronouns}" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
