<%= content_for :page_title, "Sign Up For #{@cuco_session.name}" %>

<h1>Sign Up For <%= @cuco_session.name %></h1>

<%= form_for [@cuco_session, @membership] do |f| %>
  <%= render 'errors' %>

  Join for:
  <table>
    <tr><td>Membership:</td><td></td><td><%= '$%.2f' % Membership.membership_fee %></td></tr>
    <tr><td>Electronic Payment Fee:</td><td>+</td><td><%= '$%.2f' % Membership.electronic_payment_fee(Membership.membership_fee) %></td></tr>
    <tr><td>Total:</td><td>=</td><td><%= '$%.2f' % (Membership.membership_fee + Membership.electronic_payment_fee(Membership.membership_fee)) %></td></tr>
  </table>

  <div class="actions">
    Clicking this button will redirect you to PayPal. If you do not want to use PayPal, please contact our <%= mail_to "fees@columbusunschoolers.com", "treasurer" %>.
    In order to send payments you must have a PayPal Account, unless you're using a PayPal Guest Account.
    Payments will be sent from your PayPal Account to CUCO's PayPal Account.
    Powered by PayPal.<br/>
    <%= f.submit "Buy Membership" %>
  </div>
<% end %>

<%= link_to 'Back', :back %>