<h1>Membership</h1>

<p>
  <strong>Session</strong>
  <%= link_to @cuco_session.name, @cuco_session %>
</p>

<p>
  <strong>Family</strong>
  <%= link_to @membership.family.name, @membership.family %>
</p>

<p>
  <strong>Status</strong>
  <%= @membership.status %>
</p>

<p>
  <strong>Transaction ID</strong>
  <%= @membership.transaction_id %>
</p>

<p>
  <strong>Purchased At</strong>
  <%= @membership.purchased_at %>
</p>

<% if current_user&.can? :edit, :memberships %>
  <% if @cuco_session == CucoSession.current or @cuco_session == CucoSession.upcoming %>
    <%= link_to 'Edit', edit_cuco_session_membership_path(@cuco_session, @membership) %> |
  <% end %>
<% end %>
<%= link_to "Back to Session", cuco_session_path(@cuco_session) %>