<%= form_for [@family, @person] do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label "Birthday" %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label "Pronouns" %><br>
    <%= f.collection_select :pronoun_id, Pronoun.all, :id, :preferred_pronouns,
        include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :social_media %><br>
    <em>Include contact information you'd like others to know:
    Skype ID, Minecraft username, email address, Twitter handle, Facebook page, etc...</em><br />
    <%= f.text_area :social_media %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
