<h1>Editing <%= @person.name %></h1>
<br /><div style="font-size: 2em;"><%= @family.name %> Family</div><br />

<%= render 'form' %>

<%= link_to 'Show', family_person_path(@family, @person) %> |
<%= link_to 'Back', :back %>
