<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dob</th>
      <th>Primary adult</th>
      <th>Family</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to (person) do %>
          <%= person.first_name %>
          <%= person.last_name %>
        <% end %></td>
        <td><%= person.dob %></td>
        <td><%= person.primary_adult %></td>
        <td><%= link_to @family.name, @family %></td>
        <td><%= link_to 'Show', family_person_path(@family, person) %></td>
        <td><%= link_to 'Edit', edit_family_person_path(@family, person) %></td>
        <td><%= link_to 'Destroy', [@family, person], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>