<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @person.dob %>
</p>

<p>
  <strong>Pronouns:</strong>
  <%= @person.pronouns %>
</p>

<p>
  <strong>Primary adult:</strong>
  <%= @person.primary_adult %>
</p>

<p>
  <strong>Family:</strong>
  <%= link_to @family.family_name, @family %>
</p>

<p>
  <strong>Created:</strong>
  <%= @person.created_at %>
</p>

<%= link_to 'Edit', edit_family_person_path(@family, @person) %> |
<%= link_to 'Back', :back %>
