<p id="notice"><%= notice %></p>

<h1><%= @person.first_name %> <%= @person.last_name %></h1>
<br /><div style="font-size: 2em;"><%= @family.family_name %> Family</div><br />

<p>
  <strong>Birthday</strong>
  <%= @person.dob %>
</p>

<p>
  <strong>Primary adult:</strong>
  <%= @person.primary_adult %>
</p>

<p>
  <strong>Preferred Pronouns:</strong>
  <%= Pronoun.find(@person.pronoun_id).pronouns %>
</p>

<p>
  <strong>Created:</strong>
  <%= @person.created_at %>
</p>

<%= link_to 'Edit', edit_family_person_path(@family, @person) %> |
<%= link_to 'Back to Family', family_path(@family) %>
