<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @person.dob %>
</p>

<p>
  <strong>Primary adult:</strong>
  <%= @person.primary_adult %>
</p>

<p>
  <strong>Family:</strong>
  <%= link_to Family.find(@person.family_id).family_name, family_path(@person.family_id) %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', :back %>
