<h2>Dates for <%= @dates.cuco_session.name %></h2>
<ul>
  <li><strong>Location Start</strong>: <%= @dates.cuco_session.start_date %></li>
  <li><strong>Location End</strong>: <%= @dates.cuco_session.end_date %></li>
  <% @dates.events.sort_by{|e| e[:start_dt]}.each do |event| %>
    <li><%= render partial: 'event', locals: {event: event} %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_cuco_session_dates_path(@cuco_session, @dates) %> |
<%= link_to "Back to Session", cuco_session_path(@cuco_session) %>
