<%= form_for(@family) do |f| %>
  <% if @family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
      <% @family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <hr />

  <% if @family.people.any? %>
    <div class="field">
      <strong>Adult attending CUCO for the family</strong><br>
      <%= f.collection_select(:primary_adult_id, @family.people, :id, :name) %>
    </div>
  <% end %><br />

  <h2>Family Info</h2>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :street_address %><br>
    <%= f.text_field :street_address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.select :state, options_for_select(us_states, selected: @family.state) %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>

  <hr />

  <h2>Emergency Contact Info</h2>
  <p><em>This should be someone who is not regularly attending CUCO.</em></p>

  <div class="field">
    <%= f.label "First Name" %><br>
    <%= f.text_field :ec_first_name %>
  </div>

  <div class="field">
    <%= f.label "Last Name" %><br>
    <%= f.text_field :ec_last_name %>
  </div>

  <div class="field">
    <%= f.label "Phone Number" %><br>
    <%= f.text_field :ec_phone %>
  </div>

  <div class="field">
    <%= f.label "Is it ok to send text messages?" %><br />
    <%= f.radio_button :ec_text, 'true', selected: @family.ec_text %>
    <%= f.label :ec_text_true, "Yes" %>
    <%= f.radio_button :ec_text, 'false', selected: @family.ec_text %>
    <%= f.label :ec_text_false, "No" %>
  </div>

  <div class="field">
    <%= f.label "Relationship to Child(ren)" %><br>
    <%= f.text_field :ec_relationship %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
