<div class="field">
  <%= f.label "First Name" %><br>
  <%= f.text_field :ec_first_name %>
</div>

<div class="field">
  <%= f.label "Last Name" %><br>
  <%= f.text_field :ec_last_name %>
</div>

<div class="field">
  <%= f.label "Phone Number" %><br>
  <%= f.text_field :ec_phone %>
</div>

<div class="field">
  <%= f.label "Is it ok to send text messages?" %><br />
  <%= f.radio_button :ec_text, 'true', selected: @family.ec_text %>
  <%= f.label :ec_text_true, "Yes" %>
  <%= f.radio_button :ec_text, 'false', selected: @family.ec_text %>
  <%= f.label :ec_text_false, "No" %>
</div>

<div class="field">
  <%= f.label "Relationship to Child(ren)" %><br>
  <%= f.text_field :ec_relationship %>
</div>

