<tr>
  <td><%= link_to family.family_name, family %></td>
  <td><%= family.street_address %></td>
  <td><%= family.city %></td>
  <td><%= family.state %></td>
  <td><%= family.zip %></td>
  <td><%= link_to 'Show', family %></td>
  <td><%= link_to 'Edit', edit_family_path(family) %></td>
  <td><%= link_to 'Destroy', family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>