<%= f.fields_for @person do |ff| %>
  <div>
    <%= ff.label "My First Name" %>
    <%= ff.text_field :first_name %>
  </div>
  <div>
    <%= ff.label "My Last Name" %>
    <%= ff.text_field :last_name %>
  </div>
  <div>
    <%= ff.label "Pronouns" %><br>
    <%= ff.collection_select :pronoun_id, Pronoun.all, :id, :preferred_pronouns,
        include_blank: true %>
  </div>

  <% if current_user&.can? :manage_all, :families %>
    <div>
      <%= ff.label "User" %><br>
      <%= ff.collection_select :user, @users, :id, :email %>
    </div>
  <% else %>
    <%= hidden_field(:user, current_user.id) %>
  <% end %>
  
  <div>
    <%= hidden_field(:dob, "") %>
  </div>

<% end %>
