<h2>Enter Your Info</h2>
<p><em>This will add you to the system as a person in your family. To edit
       your information in the future, click edit next to your name in your
       family list.</em></p>

<%= f.fields_for @person do |ff| %>
  <div>
    <%= ff.label "My First Name" %>
    <%= ff.text_field :first_name %>
  </div>
  <div>
    <%= ff.label "My Last Name" %>
    <%= ff.text_field :last_name %>
  </div>
  <div>
    <%= ff.label "Pronouns" %><br>
    <%= ff.collection_select :pronoun_id, Pronoun.all, :id, :preferred_pronouns,
        include_blank: true %>
  </div>
<% end %>
