<h1>Editing <strong><%= @family.name %></strong> Family</h1>

<%= render 'edit.form' %>

<%= link_to 'Show', @family %> |
<%= link_to 'Destroy', @family, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', :back %>
