<h1>Editing <strong><%= @family.name %></strong> Family</h1>

<%= render 'edit.form' %>

<%= link_to 'Show', @family %> |
<% if current_user&.can? :index, UsersController %>
  <%= link_to 'Destroy', @family, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', :back %>
