<% provide(:title, @family.name) %>

<p>
  <h2>The <strong><%= @family.name %></strong> Family</h2>
</p>

<% if @family.user %>
  <div id="notice">
    The <strong>user</strong> for this family is <strong><%= link_to @family.user.name, @family.user %></strong>.
  </div><br/>
<% else %>
  <div id="error_explanation">PLEASE CREATE YOURSELF AS A PERSON IN THIS FAMILY</div><br>
<% end %>

<strong><%= @family.primary_adult.name %></strong> is the primary adult who will be
            responsible for this family's children at CUCO on a regular basis.

<p>
  <h3>Address and Phone</h3>
  <%= @family.street_address %><br/>
  <%= @family.city %>, <%= @family.state %> <%= @family.zip %><br/>
  <%= number_to_phone(@family.phone, area_code: true) %>
</p>

<p>
  <h3>Emergency Contact Info</h3>
  <%= @family.ec_first_name %> <%= @family.ec_last_name %> (<%= @family.ec_relationship %>)<br />
  <%= number_to_phone(@family.ec_phone, area_code: true) %><br />
  <% if @family.ec_text? %>
    <span style="color: green"><strong>OK</strong> to text.</span>
  <% else %>
    <span style="color: red"><strong>NOT OK</strong> to text.</span>
  <% end %>
</p>

<h3>People in Family (<%= @family.people.count %>)
<%= link_to image_tag('add.png'), new_family_person_path(@family), title: "Add New Person to Family" %></h3>
<% if @family.people.present? %>
  <table>
    <%= render "people/person_header" %>
    <tbody>
      <%= render @family.people %>
    </tbody>
  </table>
<% end %>

<% if @family.cuco_sessions != nil %>
  <h3>Membership</h3>
  You have been a member in the following sessions:
  <ul>
  <% @family.cuco_sessions.each do |cuco_session| %>
    <li><%= link_to cuco_session.name, @cuco_session %></li>
  <% end %>
  </ul>
<% end %>

<br/>

<%= link_to 'Edit', edit_family_path(@family) %>
<% if current_user&.can? :index, FamiliesController %>
  | <%= link_to "Back to List of Families", families_path %>
<% end %>
