<% provide(:title, @family.name) %>

<p>
  <h2>The <strong><%= @family.name %></strong> Family</h2>
</p>

<% if @family.primary_adult_id? %>
  <div id="notice">
    The <strong>Primary Adult</strong> is <strong><%= @family.primary_adult.first_name %></strong>.
  </div><br>
<% else %>
  <div id="error_explanation">PLEASE CREATE OR CHOOSE A PRIMARY ADULT</div><br>
<% end %>

<p>
  <strong>Street address:</strong>
  <%= @family.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @family.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @family.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @family.zip %>
</p>

<p>
  <strong>Created:</strong>
  <%= @family.created_at %>
</p>
<hr />
<h3>People in Family (<%= @family.people.count %>)
<%= link_to image_tag('add.png'), new_family_person_path(@family), title: "Add New Person to Family" %></h3>
<% if @family.people.any? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Birthday</th>
        <th>Primary Adult?</th>
        <th>Preferred Pronouns</th>
        <th>Time Created</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @family.people %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to "Back to List of Families", families_path %>
