<% provide(:title, @family.name) %>

<p>
  <h2>The <strong><%= @family.name %></strong> Family</h2>
</p>

<% if @family.user != nil %>
  <div id="notice">
    The <strong>user</strong> for this family is <strong><%= link_to @family.user.name, @family.user %></strong>.
  </div><br/>
<% else %>
  <div id="error_explanation">PLEASE CREATE YOURSELF AS A PERSON IN THIS FAMILY OR EDIT YOURSELF BELOW AND CHECK "THIS IS ME"</div><br>
<% end %>

<p>
  <strong>Address:</strong><br/>
  <%= @family.street_address %><br/>
  <%= @family.city %>, <%= @family.state %> <%= @family.zip %><br/>
</p>

<% if @family.cuco_sessions != nil %>
  <h3>Membership</h3>
  You have been a member in the following sessions:
  <ul>
  <% @family.cuco_sessions.each do |cuco_session| %>
    <li><%= link_to cuco_session.name, @cuco_session %></li>
  <% end %>
  </ul>
<% end %>

<h3>People in Family (<%= @family.people.count %>)
<%= link_to image_tag('add.png'), new_family_person_path(@family), title: "Add New Person to Family" %></h3>
<% if @family.people.any? %>
  <table>
    <%= render "people/person_header" %>
    <tbody>
      <%= render @family.people %>
    </tbody>
  </table>
<% end %>
<br/>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to "Back to List of Families", families_path %>
