<% provide(:title, @family.family_name) %>
<p id="notice"><%= notice %></p>

<p>
  <h2><%= @family.family_name %></h2>
</p>

<p>
  <strong>Street address:</strong>
  <%= @family.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @family.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @family.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @family.zip %>
</p>

<p>
  <strong>Created:</strong>
  <%= @family.created_at %>
</p>
<hr />
<% if @family.people.any? %>
  <h3>People (<%= @family.people.count %>)
  <%= link_to image_tag('add.png'), new_family_person_path(@family) %></h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Birthday</th>
        <th>Primary Adult?</th>
        <th>Preferred Pronouns</th>
        <th>Time Created</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @people %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to "Families", families_path %> |
<%= link_to 'Back', :back %>
