<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @volunteer_job_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@volunteer_job_type.description, sanitize: false) %>
</p>

<%= link_to 'Edit', edit_volunteer_job_type_path(@volunteer_job_type) %> |
<%= link_to 'Back', volunteer_job_types_path %>
