<%= form_with(model: banner, local: true) do |form| %>
  <% if banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(banner.errors.count, "error") %> prohibited this banner from being saved:</h2>

      <ul>
      <% banner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :banner %>
    <span>Leave blank for no banner.</span><br>
    <%= form.text_area :banner, id: :banner_banner %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
