<tr>
  <td><%= link_to user.name, user %></td>
  <td><%= mail_to user.email %></td>
  <td><ul>
    <li><%= user.membership_status %></li>
    <% user.roles.each do |role| %>
      <li><%= role.name %></li>
    <% end %>
  </ul></td>
  <td><% if user.person != nil %>
    <%= link_to user.person.family.name, user.person.family %>
  <% end %></td>
</tr>