<%= content_for :page_title, "FAQ" %>

<h2>CUCO’s Frequently Asked Questions</h2>
  <h4>General</h4>
  <ul>
    <li><%= link_to "Where do we meet?", page_path("faq", anchor: "where") %></li>
    <li><%= link_to "When do we meet?", page_path("faq", anchor: "when") %></li>
    <li><%= link_to "What if I can't afford the fees?", page_path("faq", anchor: "fees_help") %></li>
    <li><%= link_to "What do you mean by \"unschooling principles\"?", page_path("faq", anchor: "unschooling") %></li>
  </ul>
  <h4>Membership</h4>
  <ul>
    <li><%= link_to "How much does it cost to become a member?", page_path("faq", anchor: "cost") %></li>
    <li><%= link_to "Can I bring kids that are not part of my family?", page_path("faq", anchor: "not_my_kids") %></li>
    <li><%= link_to "What are the volunteer requirements?", page_path("faq", anchor: "volunteer") %></li>
    <li><%= link_to "What are CUCO participation requirements?", page_path("faq", anchor: "participation_reqs") %></li>
    <li><%= link_to "Do I get a refund if I drop out of CUCO?", page_path("faq", anchor: "refund") %></li>
    <li><%= link_to "Can my kids bring toy weapons to CUCO?", page_path("faq", anchor: "weapons") %></li>
    <li><%= link_to "What if I unexpectedly can't make it to co-op?", page_path("faq", anchor: "cannot_make_it") %></li>
    <li><%= link_to "What is your COVID/illness policy?", page_path('sick') %>
  </ul>
  <% if current_user&.can? :show_all_faqs, :users %>
    <h4>Information for Members</h4>
    <ul>
      <li><%= link_to "What if I'm going to be late to co-op?", page_path("faq", anchor: "late") %></li>
      <li><%= link_to "Does CUCO close for weather emergencies?", page_path("faq", anchor: "weather_emergencies") %></li>
      <li><%= link_to "Does CUCO close for any other reason?", page_path("faq", anchor: "cuco_close") %></li>
      <li><%= link_to "If CUCO is closed due to weather or other circumstances, will we make up the missed class?", page_path("faq", anchor: "make_up") %></li>
      <li><%= link_to "How do I pay my class fees?", page_path("faq", anchor: "pay_fees") %></li>
      <li><%= link_to "I'm a teacher who is charging a class fee. How do I collect the money from my students?", page_path("faq", anchor: "collect_fees") %></li>
      <li><%= link_to "Why are classes so expensive?", page_path("faq", anchor: "expensive") %></li>
      <li><%= link_to "What if I have a concern or issue with someone or something at CUCO?", page_path("faq", anchor: "concern") %></li>
      <li><%= link_to "What if I can't volunteer due to time and/or other obligations?", page_path("faq", anchor: "hardship") %></li>
      <li><%= link_to "Can I bring a family member who is not signed up?", page_path("faq", anchor: "family") %></li>
      <li><%= link_to "Can I invite friends who might be interested in co-op to come to parties or to visit for the day?", page_path("faq", anchor: "visitors") %></li>
    </ul>
  <% end %>
</ul>

<h3>General</h3>
<h4><%= content_tag(:a, "Where do we meet?", name: "where") %></h4>
<p>We meet at Feddersen Community Center, 3911 Dresden St. Columbus (<%= link_to "map", "http://maps.google.com/maps?q=3911+Dresden+St,+Columbus,+OH&amp;hl=en&amp;sll=39.961176,-82.998794&amp;sspn=0.738922,0.983276&amp;z=16" %>). Please be very careful with your belongings. Feddersen does not keep lost and found items for more than a few days.<br /></p>

<h4><%= content_tag(:a, "When do we meet?", name: "when") %></h4>
<p>We meet every Tuesday during sessions, which last approximately six-eight weeks each, with occasional other meetings in advance for signup, orientation, and getting to know each other. See the <%= link_to "calendar", calendar_path %> for specific dates.</p>
<p>Our first class begins promptly at 10:00 and the day ends by 3:00. There are four 55-minute periods for classes:</p>
<ul>
  <li>Arrival Time (9:30– 9:55)</li>
  <li>Period 1 (10:00 – 10:55)</li>
  <li>Period 2 (11:00 - 11:55)</li>
  <li>Lunch (12:00 - 12:55)</li>
  <li>Period 3 (1:00 - 1:55)</li>
  <li>Period 4 (2:00 - 2:55)</li>
</ul>
<p>Many of our members attend the full day, but it is not necessary to attend for the entire day.</p>
<p>Parents may not drop off children. A parent must remain with children and be available to work while their children are there. If you occasionally need to leave, you must make arrangements with another co-op parent to be responsible for your children.</p>
<p>If you are just curious and would like to see CUCO in action before becoming a member or offering to teach, please contact <%= mail_to "help@columbusunschoolers.com" %> to make arrangements.</p>

<h4><%= content_tag(:a, "What if I can't afford the fees?", name: "fees_help") %></h4>
<p>Financial assistance is available. We can give a partial or total waiver of the membership fee. There is no form to fill out. Simply contact our treasurer at <%= mail_to "fees@columbusunschoolers.com" %>. The treasurer is authorized to waive fees without consulting with anyone else, so your privacy is assured. Class fees are more challenging since those are simply passed along to individual teachers who use them for supplies. There are always free options each period. But if there is a need, we can consider changing our policies, so don't be afraid to ask.

<h4><%= content_tag(:a, "What do you mean by \"unschooling principles\"?", name: "unschooling") %></h4>
<p>We recognize that some of our members will not have much knowledge of or experience with unschooling. Pam Sorooshian wrote an informative essay called <%= link_to "Principles of Unschooling", "http://sandradodd.com/pam/principles.html" %>. Being an unschooling co-op does not mean that we expect each member family will live these principles all the time. However, it is expected that while at CUCO, certain core principles will be followed:</p>
<ul>
  <li>Children will be treated with as much respect as adults, although they may need more guidance. If discipline is necessary, it will be handled respectfully. Shaming students is never appropriate.</li>
  <li>No one will be signed up for a class they are not interested in attending.</li>
  <li>Testing for the purpose of assigning grades will not be done.</li>
  <li>Competition and judging need to be handled carefully, with the input of the community.</li>
</ul>
<p>Anyone who is unsure of how to approach teaching a class in this manner is welcome to volunteer in other ways, and/or consult with the e-group or other members to become more comfortable with how to apply unschooling principles.</p>

<h3>Membership</h3>
<h4><%= content_tag(:a, "How much does it cost to become a member?", name: "cost") %></h4>
<p>Members pay a per-family membership fee of $25 per session (typically three-four sessions per year, usually about six-eight weeks each) to cover administrative costs, including our donation to the rec center. Financial records will be available for review by any member or prospective member. Financial aid is available to families that need it. (see <%= link_to "What if I can't afford the fees?", page_path("faq", anchor: "fees_help") %>)</p>
<p>In addition to the membership fee, some classes will have a fee associated with them in order to cover supplies or pay outside teachers. Our class offerings are limited to what our members offer so the number of free classes varies each session. However, there is always at least one free class each period.</p>
<p>See our <%= link_to "refund policy", page_path("refund") %> for information about refunds.</p>

<h4><%= content_tag(:a, "Can I bring kids that are not part of my family?", name: "not_my_kids") %></h4>
<p>As a co-op, full participation from most families is required for everything to run smoothly. However, there are a few rare cases where a family is already engaged in a child care arrangement or where a family would like to be involved in CUCO but the parent(s) need to work and are unable to bring their own children. As long as this remains a rare exception, we are happy to try to accommodate everyone. Each family must pay the full membership fee, the host family should try to contribute a little extra volunteering or an absent parent can volunteer away from co-op, and each exception needs to be approved by the board of directors. Please request approval from <%= mail_to "help@columbusunschoolers.com" %>.</p>
<p>If you are caring for a baby, there is no need for their family to pay the membership fee. Once the child is two, is not always under your direct supervision, or wants to sign up for a class, their family needs to join.</p>

<h4><%= content_tag(:a, "What are the volunteer requirements?", name: "volunteer") %></h4>
<p>The specific requirements may vary from session to session. Typically, each family needs adults to do at least three jobs each session. If all jobs have already been taken, or you are unable to volunteer in any of the available jobs, let us know and we can find something else for you to do. In addition, each family must also sign up help with either setup before co-op, or cleanup after co-op. These are typically quick jobs that everyone must help out with in addition to their other jobs. Setup and cleanup managers must be the first and last ones there, and these do count as one of your jobs. Others may be asked to fill in if the setup or cleanup managers call in sick.</p>
<p>Some job possibilities are:</p>
<ul>
  <li>prepare and teach a class on your own</li>
  <li>be a member of a team that prepares and teaches a class</li>
  <li>assist in a class</li>
  <li>be in a room while kids do their own thing, helping to resolve conflicts and help kids take turns with limited materials and toys</li>
</ul>
<p>Every effort will be made to take your preferences into consideration, however, there may be times when you’ll need to play a role that is not your first choice. Our members need to be flexible and willing to cover whatever needs to be covered.</p>

<h4><%= content_tag(:a, "What are CUCO participation requirements?", name: "participation_reqs") %></h4>
<p>You must be willing to make a firm commitment to:</p>
<ol>
  <li>Arrive on time for your classes.</li>
  <li>Attend and participate on a weekly basis.</li>
  <li>Abide by the <%= link_to "CUCO Expectations", page_path("expectations") %>.</li>
  <li>Ensure that your children understand and agree to abide by the <%= link_to "CUCO Expectations", page_path("expectations") %>.</li>
  <li>Pay all applicable fees (see <%= link_to "How much does it cost to become a member?", page_path("faq", anchor: "cost") %>)</li>
  <li>Become a member of the CUCO Google group.</li>
  <li>Be willing to help out during the day as needed (see <%= link_to "What are the volunteer requirements?", page_path("faq", anchor: "volunteer") %>)</li>
  <li>Check the master schedule posted online or in the lobby as soon as you arrive each week to see where you are assigned during each period. This generally stays the same, but if someone is absent the volunteer coordinator(s) may need to move some things around. Just look for your name.</li>
  <li>Let the CUCO Google group and the volunteer coordinator(s) know if for some reason you cannot attend one of the weeks of the session.</li>
</ol>
<p>Parents may not drop off children. A parent must remain with children and be available to work while their children are there. If you occasionally need to leave, you must make arrangements with another co-op parent to be responsible for your children.</p>
<p>In an effort to reinforce the fact that we are a community and not just a source of classes, students must plan to attend at least two periods and lunch every week.</p>
<p>When a family signs up for CUCO, they are making a commitment to attend and participate every week, barring emergency. Teachers have purchased supplies, organized games, and prepared materials and activities based on who is supposed to be in the class. The assistants have been assigned to specific classes and, if there isn't enough assistance in a given class, it can be a hardship on both the teachers and the students.</p>
<p>When a family does need to miss a week, it is that family’s responsibility to let CUCO know as far in advance as possible that they won't be there.</p>
<p>Once you become a member, you will be added to the CUCO Google group, where you can post information and ask questions. The Google group is the only formal communication vehicle for CUCO.</p>

<h4><%= content_tag(:a, "Do I get a refund if I drop out of CUCO?", name: "refund") %></h4>
<%= render "refund" %>

<h4><%= content_tag(:a, "Can my kids bring toy weapons to CUCO?", name: "weapons") %></h4>
<p>Out of respect for families that choose not to play with toy guns, we ask that you not bring them to CUCO. Sometimes a nerf class is offered, and nerf guns are, of course, needed for that. They should only be played with in the class. During other times, if they are large or proving hard for kids to avoid, they can be stored out of sight behind a door by the stage.</p>

<p>Swords are fine to bring. "Boffer" weapons (large swords made of PVC and pool noodles) can be brought, but should not be played with in the auditorium or lobby. When the weather is nice, they should be used only outside. In bad weather, they can be used in the gym when it is available.</p>

<% if current_user&.can? :show_all_faqs, :users %>
  <h3>Information for Members</h3>

  <h4><%= content_tag(:a, "What if I'm going to be late to co-op?", name: "late") %></h4>
  We understand that last-minute emergencies happen. If you find that you're going to be late (even if just a few minutes late), please call or text our volunteer coordinator at <strong>513-970-CUCO (2826)</strong> by 9:30, preferably before. The sooner we know you won't be there, the easier it will be to cover your position.

  <h4><%= content_tag(:a, "What if I unexpectedly can't make it to co-op?", name: "cannot_make_it") %></h4>
  If you can't make it to co-op please post to the CUCO Google group as soon as possible. If it's co-op day when you realize you can't come, please call or text <strong>513-970-CUCO (2826)</strong> by 9:30, preferably before. Our volunteer coordinators will be working hard to make sure all positions are covered, so the sooner we know you won't be there, the easier it will be to cover your position.

  <h4><%= content_tag(:a, "Does CUCO close for weather emergencies?", name: "weather_emergencies") %></h4>
  If Columbus city schools are closed due to weather, CUCO will be closed. We do not make up classes that are missed due to weather or other extenuating circumstances and we do not offer refunds for missed classes.

  <h4><%= content_tag(:a, "Does CUCO close for any other reason?", name: "cuco_close") %></h4>
  Sometimes there are extenuating circumstances requiring that CUCO is closed unexpectedly. We'll do our best to notify members in a timely manner, as soon as we find out about the need for closing. We do not make up classes that are missed due to weather or other extenuating circumstances and we do not offer refunds for missed classes.

  <h4><%= content_tag(:a, "If CUCO is closed due to weather or other circumstances, will we make up the missed class?", name: "make_up") %></h4>
  No, we will not make up the missed class and we can not offer refunds for the missed class. We will do our best to notify members of unexpected closures in a timely manner, but we do not have the scheduling and financial flexibility to do make-ups or refunds at this time.

  <h4><%= content_tag(:a, "How do I pay my class fees?", name: "pay_fees") %></h4>
  <p>See the <%= link_to "calendar", calendar_path %> to find out when payment is due. You can also check how much you owe by looking at your family schedule. You can pay your fees by cash or check made out to CUCO to our treasurer who you can contact through <%= mail_to "fees@columbusunschoolers.com" %> or through PayPal.</p>
  <p>You can make arrangements with the treasurer to pay early or if something comes up that makes it impossible for you to pay. Any member who doesn't pay their class fees by the due date will be dropped from the classes that require a fee and put into free play.</p>
  <p>If you have a sudden emergency and can not pay by the deadline, please contact the treasurer before the deadline to make other arrangements. If we don't hear from you, we have to assume you're not paying your class fees and we'll have to drop you from your classes.</p>

  <h4><%= content_tag(:a, "I'm a teacher who is charging a class fee. How do I collect the money from my students?", name: "collect_fees") %></h4>
  Our treasurer will pay you any class fees on the first day of classes. If you need the money to purchase supplies before classes start, contact the treasurer at <%= mail_to "fees@columbusunschoolers.com" %>. They will be happy to make arrangements with you to get the money sooner.

  <h4><%= content_tag(:a, "Why are classes so expensive?", name: "expensive") %></h4>
  Some of our classes have fees in order to cover the cost of supplies. Some of our classes have fees because they are taught by professionals who require payment. Ideally, our classes would all be free but classes are limited to what our members offer.

  <h4><%= content_tag(:a, "What if I have a concern or issue with someone or something at CUCO?", name: "concern") %></h4>
  <p>After someone has filled out a concern form and it's been determined there should be a meeting to resolve the concern the steps below will be taken.</p>
  <p>The goal of this meeting process is finding a solution to the problem. The Board will hold a meeting in a private comfortable neutral place with cookies. The rules for our meeting will be; no name-calling, everyone takes turns talking, no interrupting, and everything is private and confidential. One Board member will take notes which will be archived on the website for Board members viewing only. A copy will be given to all participants involved.</p>
  <p>See the <%= link_to "Concern Resolution Meeting Process", page_path("concern-process") %> page for more info.</p>

  <h4><%= content_tag(:a, "What if I can't volunteer due to time and/or other obligations?", name: "hardship") %></h4>
  <p>A hardship pass allows you to be exempt from volunteer jobs for one session. You can request a hardship pass if you have been a member for three or more sessions, you are facing an unusual amount of stressors in your life, and you are unable to contribute by doing any volunteer jobs.</p>
  <p>See the <%= link_to "Hardship Pass", page_path("hardship-pass") %> page for more info.</p>

  <h4><%= content_tag(:a, "Can I bring a family member who is not signed up?", name: "family") %></h4>
  <p>Yes, whether it's a visiting adult family member, or a kid who is normally in school but has the day off, feel free to bring them. They are welcome to attend drop-in classes, or hang out in free play. Please add them on the website if they will start coming regularly so we can have an idea of who is in the building in case of emergency.</p>

  <h4><%= content_tag(:a, "Can I invite friends who might be interested in co-op to come to parties or to visit for the day?", name: "visitors") %></h4>
  <p>Prospective members are welcome to visit and/or join us at our parties. Please have them contact <%= mail_to "help@columbusunschoolers.com" %> so that we can get them onto our notification list and make sure they're getting accurate information about policies and dates.</p>
<% end %>
