<%= content_for :page_title, 'Terms and Conditions' %>

<h2>Terms and Conditions</h2>
<p>By participating in The Columbus Unschoolers' Co-op, all members agree to abide by the following documents and policies:
<ul>
  <li><%= link_to 'expectations', page_path("expectations") %></li>
  <li><%= link_to 'waiver of liability', page_path("waiver") %></li>
  <li><%= link_to 'privacy policy', page_path('privacy') %></li>
  <li><%= link_to 'refund policy', page_path('refund') %></li>
</ul></p>
<p>We reserve the right to change our policies without notice. Members should review all policies periodically to learn of any changes.</p>