<tr>
  <td><%= membership.family.name %></td>
  <td><%= membership.family.primary_adult.name %></td>
  <td><%= number_to_phone(membership.family.phone, area_code: true) %></td>
  <td><% if membership.family.text %>
      <span style="ok-text">YES</span>
    <% else %>
      <span style="no-text">NO</span>
    <% end %>
  </td>
  <td><%= membership.family.ec_name %></td>
  <td><%= membership.family.ec_relationship %></td>
  <td><%= number_to_phone(membership.family.ec_phone, area_code: true) %></td>
  <td>
    <% if membership.family.ec_text %>
      <span style="ok-text">YES</span>
    <% else %>
      <span style="no-text">NO</span>
    <% end %>
  </td>
</tr>