<%# use :manage_all here instead of just :show because we can only show
  # our own family %>
<h2><% if current_user&.can? :manage_all, :families %>
  <td><%= link_to membership.family.name, family_path(membership.family.id) %></td>
<% else %>
  <td><%= membership.family.name %></td>
<% end %></h2>

<%= membership.family.street_address %><br />
<%= membership.family.city %>, <%= membership.family.state %> <%= membership.family.zip %><br />
<%= number_to_phone(membership.family.phone, area_code: true) %>
<% if membership.family.text %>
  <span style="ok-text"><strong>OK</strong> to text</span><br />
<% else %>
  <span style="no-text"><strong>NOT OK</strong> to text</span><br />
<% end %>
<%= membership.family.user.email %><br />

<ul>
  <% membership.family.adults.each do |adult| %>
    <li><%= adult.name %></li>
  <% end %>

  <% membership.family.kids.each do |kid| %>
    <li><%= kid.name %> (<%= kid.age %>)</li>
  <% end %>
</ul>
