<h2>Create New Session</h2>

<% if (!user_signed_in? or !check_authorization? or
       !current_user.can? :add_event, CucoSessionsController) %>
  For this to work, you need to be signed in as CUCO Calendar with google.
  <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
<% else %>
  <%= form_tag confirm_dates_path do %>
    <div>
      <%= label_tag "Session Name" %>
      <%= text_field_tag "session_name", "", :required => true %>
    </div>
    <div>
      <%= label_tag "Location Start Date" %>
      <%= date_field_tag "start_date", Date.today %>
    </div>
    <div>
      <%= label_tag "Location End Date" %>
      <%= date_field_tag "end_date", Date.today %>
    </div>
    <%= submit_tag "Calculate Dates" %>
  <% end %>
<% end %>
