<% provide(:title, @cuco_session.name) %>

<h2>Session <%= @cuco_session.name %></h2>

<h3>Dates</h3>
<% if @cuco_session.dates == nil %>
  Edit this session to have dates automatically calculated
<% else %>
  Show <%= link_to "dates", cuco_session_dates_path(@cuco_session, @cuco_session.dates) %>
<% end %>

<h3>Courses (<%= @cuco_session.courses.count %>)
  <%= link_to image_tag('add.png'), new_cuco_session_course_path(@cuco_session), title: "Add New Class to Session" %></h3>
  <% if @cuco_session.courses.any? %>
    <ul>
    <% @cuco_session.courses.each do |course| %>
      <li><%= link_to course.title, [@cuco_session, course] %></li>
    <% end %>
    </ul>
  <% end %>

<%= link_to 'Edit', edit_cuco_session_path(@cuco_session) %> |
<%= link_to 'Destroy', @cuco_session, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to "Back to Sessions", cuco_sessions_path %>
