<%= content_for :page_title, @cuco_session.name %>

<% provide(:title, @cuco_session.name) %>

<h2>Session <%= @cuco_session.name %></h2>

<% if current_user&.can? :show_open_jobs, :cuco_session %>
  <p>See <%= link_to "open jobs", cuco_session_show_open_jobs_path(@cuco_session) %>.</p>
<% end %>
<% if current_user&.can? :show_volunteer_list, :cuco_session %>
  <p>See <%= link_to "volunteer list", cuco_session_show_volunteers_path(@cuco_session) %>.</p>
<% end %>
<% if current_user&.can? :show_nametags, :cuco_session %>
  <p>See <%= link_to "nametag info", cuco_session_nametags_path(@cuco_session) %>.</p>
<% end %>
<% if current_user&.can? :show_all_signups, :cuco_session %>
  <p>See <%= link_to "all signups", cuco_session_show_all_signups_path(@cuco_session) %>.</p>
<% end %>
<% if current_user&.can? :show_fees_summary, :cuco_session %>
  <p>See <%= link_to "fees summary", cuco_session_show_fees_summary_path(@cuco_session) %>.</p>
<% end %>

<% if current_user&.can? :show, :dates %>
  <h3>Dates</h3>
  <% if @cuco_session.dates == nil %>
    <% if current_user&.can? :edit, :dates %>
      Edit this session to have dates automatically calculated
    <% end %>
  <% else %>
    Show <%= link_to "dates", cuco_session_dates_path(@cuco_session, @cuco_session.dates) %>
  <% end %>
<% end %>

<h3>Courses (<%= @cuco_session.courses.count %>)
  <% if ((current_user&.can? :new, :course and @cuco_session.course_offerings_open?) or
         current_user&.can? :manage_all, :courses) %>
    <%= link_to image_tag('add.png'), new_cuco_session_course_path(@cuco_session), title: "Add New Class to Session" %>
  <% end %>
</h3>

<% if @cuco_session.courses.any? %>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <tr>
        <th></th>
        <% @rooms.each do |room| %>
          <th><%= room.name %></th>
        <% end %>
      </tr>
      <% @periods.each do |period| %>
        <tr>
          <td><%= period.name %><br/>(<%= period.duration_text %>)</td>
          <% @rooms.each do |room| %>
            <td>
              <% courses = @cuco_session.courses.where(room: room).where(period: period) %>
              <% courses.each do |course| %>
                <% if course.short_name.length == 0 %>
                  <%= link_to course.name, [@cuco_session, course] %><br />
                <% else %>
                  <%= link_to course.short_name, [@cuco_session, course] %><br />
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <ul>
  <h4>Unassigned</h4>
  <% @cuco_session.courses.where(room: nil).where(period: nil).each do |course| %>
    <li><%= link_to course.name, [@cuco_session, course] %></li>
  <% end %>
  </ul>
<% end %>
  
<% if current_user&.can? :show, :membership then %>
  <h3>Paid Members 
    <% if current_user&.can? :add, :membership %>
      <%= link_to image_tag('add.png'), cuco_session_memberships_add_path(@cuco_session), title: "Add Member to Session" %>
    <% end %>
  </h3>
  <h3>Paid Members</h3>
    <%= render 'memberships', memberships: @cuco_session.paid_memberships.sort_by { |membership| membership.family.name } %>
  <h3>Pending/Canceled Members</h3>
    <%= render 'memberships', memberships: @cuco_session.not_paid_memberships.sort_by { |membership| membership.family.name } %>
<% end %>


<% if current_user&.can? :edit, :cuco_sessions %>
  <%= link_to 'Edit', edit_cuco_session_path(@cuco_session) %> |
<% end %>
<% if current_user&.can? :destroy, :cuco_sessions %>
  <%= link_to 'Destroy', @cuco_session, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to "Back to Sessions", cuco_sessions_path %>
