<%= content_for :page_title, "Fees Summary for #{@cuco_session.name}" %>

<h1>Fees Summary for <strong><%= @cuco_session.name %></strong></h1>

<h3>Fees to Collect</h3>

<% total_to_collect = 0 %>
<table class="table table-striped">
  <tr>
    <th>Family Name</th>
    <th>Class Fees</th>
    <th>Electronic<br/>Payment<br/>Fee</th>
    <th>Total</th>
  </tr>
  <% @cuco_session.paid_memberships.includes(:family).order('families.name').each do |membership| %>
    <% if membership.schedule.fees != 0 %>
      <% total_to_collect += membership.schedule.fees %>
      <%= render 'fees_to_collect', membership: membership %>
    <% end %>
  <% end %>
</table><br />

<h3>Fees to Pay</h3>

<% total_to_pay = 0 %>

<table class="table table-striped">
  <tr>
    <th>Class</th>
    <th>Teachers</th>
    <th>Total</th>
  </tr>

  <% @cuco_session.assigned_courses.where.not(fee: 0).each do |course| %>
    <% total_to_pay += course.total_fees %>
    <%= render 'fees_to_pay', course: course %>
  <% end %>

</table>

<% if total_to_collect != total_to_pay %>
  <span class="alert"><h3>ERROR</h3>
  <strong>Total to Collect</strong> is <%= total_to_collect %>.
  <strong>Total to Pay</strong> is <%= total_to_pay %>.
  They should be the same.</span>
<% else %>
  <strong>Total Fees:</strong> $<%= total_to_collect %>
<% end %>
<br/><br/>

<%= link_to 'Back to Session', @cuco_session %>