<%= content_for :page_title, "Nametag Info for #{@cuco_session.name}" %>

<h1>Nametag Info for <strong><%= @cuco_session.name %></strong></h1>

<h2>Not Returning Members (<%= @not_returning_families.count %>)</h2>
<% @not_returning_families.each do |family| %>
  <%= render 'family_for_nametags', family: family %>
<% end %>

<h2>New Members (<%= @new_families.count %>)</h2>
<% @new_families.each do |family| %>
  <%= render 'family_for_nametags', family: family %>
<% end %>

<h2>Returning After a Break Members (<%= @returning_after_a_break_families.count %>)</h2>
<% @returning_after_a_break_families.each do |family| %>
  <%= render 'family_for_nametags', family: family %>
<% end %>

<h2>Returning Members (<%= @returning_families.count %>)</h2>
<% @returning_families.each do |family| %>
  <%= render 'family_for_nametags', family: family %>
<% end %>

<%= link_to 'Back to Session', @cuco_session %>
