<%= content_for :page_title, "All Signups for #{@cuco_session.name}" %>

<h1>All Signups for <strong><%= @cuco_session.name %></strong></h1>

<% @cuco_session.paid_memberships.sort_by { |membership| membership.family.name}.each do |membership| %>
  <% @membership = membership %>
  <h2><strong><%= link_to @membership.family.name, family_path(@membership.family.id) %></strong></h2>

  <%= render 'memberships/schedule_errors' %>
  <%= render 'memberships/schedule_table', signups: membership.family_signups %>
  <hr>
<% end %>

<%= link_to 'Back to Session', @cuco_session %>
