<%= content_for :page_title, "Open Jobs for #{@cuco_session.name}" %>

<h1>Open Jobs for <%= @cuco_session.name %></h1>

<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <tr>
      <th>Period</th>
      <th>Class Name</th>
      <th>Volunteer Job</th>
    </tr>

    <% @signups.each do |signup| %>
      <% if signup.course_role.can_be_unassigned? and !signup.person %>
        <tr>
          <td><%= signup.course.period.name %></td>
          <td>
            <%= link_to signup.course.name,
                        cuco_session_course_path(@cuco_session, signup.course),
                        Title: signup.course.description %>
          </td>
          <td>
            <%= link_to signup.course_role.name.titleize,
                        edit_cuco_session_course_course_signup_path(@cuco_session, signup.course, signup),
                        Title: signup.course_role.description %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<%= link_to 'Back to Session', @cuco_session %>
