<%= content_for :page_title, "All Signups for #{@cuco_session.name}" %>

<h1>All Signups for <strong><%= @cuco_session.name %></strong></h1>

<% @cuco_session.paid_memberships.sort_by { |membership| membership.family.name}.each do |membership| %>
  <% @family_schedule = membership.schedule %>
  <h2><strong><%= link_to @family_schedule.family.name, family_path(@family_schedule.family.id) %></strong></h2>

  <%= render 'family_schedules/schedule_errors' %>
  <%= render 'family_schedules/schedule_table', signups: @family_schedule.signups %>
  <hr>
<% end %>

<%= link_to 'Back to Session', @cuco_session %>
