<%= content_for :page_title, "On Call for #{@cuco_session.name}" %>

<h2>Adults for <strong><%= @cuco_session.name %></strong>

<% @signups_by_period.each do |signups_for_a_period| %>
  <% if signups_for_a_period %>
    <h3><%= signups_for_a_period.first.course.period.name %></h3>
    <ul><% signups_for_a_period.each do |signup| %>
      <% membership = @cuco_session.memberships.find_by(family: signup.person.family) %>
      <li><%= link_to signup.person.name || "", edit_cuco_session_course_course_signup_path(@cuco_session, signup.course, signup) %><% if membership %> (jobs: <%= membership.schedule.adult_jobs - membership.schedule.on_call %>): <%= signup.course_role.name.titleize %> (<%= link_to signup.course.name, cuco_session_course_path(@cuco_session, signup.course) %>)<% end %></li>
    <% end %></ul>
  <% end %>
<% end %>

<%= link_to 'Back to Session', @cuco_session, class: "hidden-print" %>
