<% provide(:title, @cuco_session.name) %>

<h2>Session <%= @cuco_session.name %></h2>

<% if user_signed_in? and current_user.can? :show, DatesController %>
  <h3>Dates</h3>
  <% if @cuco_session.dates == nil %>
    <% if user_signed_in? and current_user.can? :edit, DatesController %>
      Edit this session to have dates automatically calculated
    <% end %>
  <% else %>
    Show <%= link_to "dates", cuco_session_dates_path(@cuco_session, @cuco_session.dates) %>
  <% end %>
<% end %>

<h3>Courses (<%= @cuco_session.courses.count %>)
  <%= link_to image_tag('add.png'), new_cuco_session_course_path(@cuco_session), title: "Add New Class to Session" %></h3>
  <% if @cuco_session.courses.any? %>
    <table>
      <tr>
        <th></th>
        <% @rooms.each do |room| %>
          <th><%= room.name %></th>
        <% end %>
      </tr>
      <% @periods.each do |period| %>
        <tr>
          <td><%= period.name %><br/>(<%= period.duration_text %>)</td>
          <% @rooms.each do |room| %>
            <td>
              <% courses = @cuco_session.courses.where(room: room).where(period: period) %>
              <% if !courses.empty? %>
                <% if courses.first.short_name.length == 0 %>
                  <%= link_to courses.first.name, [@cuco_session, courses.first] %>
                <% else %>
                  <%= link_to courses.first.short_name, [@cuco_session, courses.first] %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <ul>
    <h4>Unassigned</h4>
    <% @cuco_session.courses.where(room: nil).where(period: nil).each do |course| %>
      <li><%= link_to course.name, [@cuco_session, course] %></li>
    <% end %>
    </ul>
  <% end %>
  
  <% if current_user&.can? :show, :membership then %>
    <h3>Members</h3>
    <ol>
      <% memberships = @cuco_session.memberships.sort { |a,b| a.family.name <=> b.family.name } %>
      <% memberships.each do |membership| %>
      <li>
        <%= link_to membership.family.name, membership.family %> (status: <%= membership.status %>, <%= link_to "details", [membership.cuco_session, membership] %>)
      </li>
    <% end %>
    </ol>
  <% end %>



<% if user_signed_in? and current_user.can? :edit, CucoSessionsController %>
  <%= link_to 'Edit', edit_cuco_session_path(@cuco_session) %> |
<% end %>
<% if user_signed_in? and current_user.can? :destroy, CucoSessionsController %>
  <%= link_to 'Destroy', @cuco_session, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to "Back to Sessions", cuco_sessions_path %>
