<%= content_for :page_title, "All Ceramics Numbers" %>

<div class="table-responsive">
  <table class="table table-striped table-condensed">
    <%# number of names per row %>
    <% cols = 3 %>
    <tr>
      <% for num in 1..cols %>
        <th>Num</th><th>Name</th>
      <% end %>
    </tr>
    <% for num in 0..@max %>
      <%# time to start a new row %>
      <% if num % cols == 0 %>
        <tr>
      <% end %>

      <% if person = @people.where(ceramics_number: num).first then %>
        <td><%= person.ceramics_number.to_s.rjust(2, '0') %></td><td><%= person.name %></td>
      <% else %>
        <td style="height:40px"><%= num.to_s.rjust(2, '0') %></td><td></td>
      <% end %>

      <%# time to end a row %>
      <% if num % cols == cols - 1 %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<p/ style="page-break-before: always">
<div class="table-responsive">
  <table class="table table-striped table-condensed">
    <tr><th>Name</th><th>Num</th></tr>
    <% @people.each do |person| %>
      <tr><td><%= person.name %></td><td><%= person.ceramics_number.to_s.rjust(2, '0') %></td></tr>
    <% end %>
  </table>
</div>

<%= link_to 'Back to Session', @cuco_session, class: "hidden-print" %>
