<div class="no-print">
<% family_signups_by_period.each do |period_id, signups| %>
  <div class="period"><%= Period.find(period_id).name %> (<%= Period.find(period_id).duration_text %>)</div><br>
  <div class="people-in-schedule">
    <% signups.each do |signup| %>
      <% if signup.course.period_id == period_id %>

        <div class="person-in-schedule">
          <div class="person"><%= signup.person.name %></div>
          <div class="course"><%= link_to signup.course.name, [family_schedule.cuco_session, signup.course] %></div>

          <%= render 'schedule_signup_info', signup: signup %>
        </div>
      <% end %>
    <% end %>
  </div>  
<% end %>
</div>

<!-- Print only view -->
<div class="only-print">
  <%= render 'schedule_table', family_schedule: family_schedule,
      family_signups_by_person: family_signups_by_person,
      periods: periods %>
</div>
