<%= form_for(@course_role) do |f| %>
  <% if @course_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_role.errors.count, "error") %> prohibited this course role from being saved:</h2>

      <ul>
      <% @course_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :is_worker %><br>
    <%= f.check_box :is_worker %>
  </div>
  <div class="field">
    <%= f.label :display_weight %><br>
    <%= f.number_field :display_weight %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
