<p id="notice"><%= notice %></p>

<h1>Volunteer Jobs</h1>

<ul>
  <% @course_roles.order(:display_weight).each do |course_role| %>
    <li><% if current_user&.can? :show, :course_role %>
      <%= link_to course_role.name.titleize, course_role %>
    <% else %>
      <%= course_role.name.titleize %>
    <% end %></li>
    <%= course_role.description %>
  <% end %>
</ul>

<br>

<% if current_user&.can? :new, :course_role %>
  <%= link_to 'New Course role', new_course_role_path %>
<% end %>
