<p id="notice"><%= notice %></p>

<h1>Course Roles and Volunteeer Jobs</h1>

<p>
  <% if current_user&.can? :new, :course_role %>
    <%= link_to 'New Course Role (Add a Volunteer Job)', new_course_role_path %>
  <% end %>
</p>

<hr>

<h2>Roles</h2>

<%= render @course_roles.order(:display_weight).where('is_worker = ?', false) %>

<h2>Volunteer Jobs</h2>

<%= render @course_roles.order(:display_weight).where('is_worker = ?', true) %>

<hr>

<p>
  <% if current_user&.can? :new, :course_role %>
    <%= link_to 'New Course Role (Add a Volunteer Job)', new_course_role_path %>
  <% end %>
</p>
