<%= content_for :page_title, "Volunteer Jobs" %>

<p id="notice"><%= notice %></p>

<h1>Course Roles and Volunteeer Jobs</h1>

<p>
  <% if current_user&.can? :new, :course_role %>
    <%= link_to 'New Course Role (Add a Volunteer Job)', new_course_role_path %>
  <% end %>
</p>

<hr>

<h2>Non-Working Roles</h2>

<% if @non_working_roles.any? %>
  <%= render @non_working_roles %>
<% end %>

<h2>Volunteer Jobs</h2>

<% if @volunteers.any? %>
  <%= render @volunteers %>
<% end %>

<hr>

<h2>Helper Jobs</h2>

<% if @helpers.any? %>
  <%= render @helpers %>
<% end %>

<hr>

<p>
  <% if current_user&.can? :new, :course_role %>
    <%= link_to 'New Course Role (Add a Volunteer Job)', new_course_role_path %>
  <% end %>
</p>
