<h3><%= link_to course.name, [@cuco_session, course] %></h3>
  Room: <em><%= course.rooms.map{|room| room.name.titleize}.join(", ") %></em>;
  Ages: <em><%= course.min_age %> - <%= course.max_age %></em>;
  Ages Firm? <em><%= course.age_firm %></em>;
  Fee: <em><%= course.fee %></em>;
  Drop In? <em><%= course.drop_ins %></em><br />
  <% if current_user&.can? :show_students, :courses %>
    <% if course.student_signups.any? %>
      Students:<ol>
        <% course.student_signups.each do |student_signup| %>
          <li><%= student_signup.person.name %></li>
        <% end %>
      </ol>
    <% end %>
    <% if course.waiting_list_signups.any? %>
      Waiting List:<ol>
        <% course.waiting_list_signups.includes(:person).order(:created_at).each do |course_signup| %>
          <li><%= course_signup.person.name %></li>
        <% end %>
      </ol>
    <% end %>
    <% if course.volunteer_signups.any? %>
      Volunteers:<ul>
        <% course.volunteer_signups.includes(:person).each do |course_signup| %>
          <li><%= course_signup.course_role.name.titleize %>: <%= course_signup&.person&.name %></li>
        <% end %>
      </ul>
    <% end %>
    <% if course.helper_signups.any? %>
      Volunteers:<ul>
        <% course.helper_signups.includes(:person).each do |course_signup| %>
          <li><%= course_signup.course_role.name.titleize %>: <%= course_signup&.person&.name %></li>
        <% end %>
      </ul>
    <% end %>
    <% if course.person_in_room_signups.any? %>
      People In Room:<ul>
        <% course.person_in_room_signups.includes(:person).order('people.last_name', 'people.first_name').each do |course_signup| %>
          <li><%= course_signup.person.name %></li>
        <% end %>
      </ul>
    <% end %>
    <% if course.on_call_volunteer_signups.count != 0 %>
      On Call Volunteers<ul>
        <% course.on_call_volunteer_signups.includes(:person).order('people.last_name', 'people.first_name').each do |course_signup| %>
          <li><%= course_signup.person.name %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
