<%= form_for [@cuco_session, @course] do |f| %>

  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# typically, we expect whoever can edit one can edit both, but since that's
      not how we actually set it up, we should allow editing of one but not the other %>
  <% if user_signed_in? and current_user.can? :edit, RoomsController then %>
    <%=f.label :room %>
    <%= f.collection_select(:room_id, Room.all, :id, :name, {include_blank: true}) %>
  <% end %>
  <% if user_signed_in? and current_user.can? :edit, PeriodsController then %>
    <%=f.label :period %>
    <%= f.collection_select(:period_id, Period.all, :id, :name, {include_blank: true}) %> <br/>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <div id="error_explanation">
    Information entered on this page is <strong>NOT</strong> private and will be accessible to the public.
  </div>

  <hr />

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :short_name %><br/>
    <%= f.text_field :short_name %><br/>
    <em>Enter a short version of the name to show on the schedule chart</em>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_area :description %><br/>
    <em>Enter a description of the class. You can include your teaching experience,
    if any, what material you intend to cover, and what parents can expect from
    the class. Include any special information that is not covered elsewhere on
    this form.</em>
  </div>

  <div class="field">
    <%= f.label "Minimum Age" %><br/>
    <%= f.text_field :min_age %><br/>
    <em>What is the minimum age for the class? Use 0 for no minimum.</em>
  </div>

  <div class="field">
    <%= f.label "Maximum Age" %><br/>
    <%= f.text_field :max_age %><br/>
    <em>What is the maximum age for students? Use 100 for no maximum.</em>
  </div>

  <div class="field">
    <%= f.label "Age Range Firm?" %><br/>
    <%= f.check_box :age_firm %> Yes <br/>
  <em>Is the age range a firm limit or just a suggestion?</em>
  </div>

  <div class="field">
    <%= f.label "Minimum Number of Students" %><br/>
    <%= f.text_field :min_students %><br/>
    <em>What is the minimum number of students required for the class? If fewer
    than this number sign up, the class will be canceled. Use 0 for no minimum.</em>
  </div>

  <div class="field">
    <%= f.label "Maximum Number of Students" %><br/>
    <%= f.text_field :max_students %><br/>
    <em>What is the maximum number of students you are comfortable teaching? Use
    100 for no maximum.</em>
  </div>

  <div class="field">
    <%= f.label :fee %><br/>
    $<%= number_field(:course, :fee, in: 0..999, step: 1) %><br/>
    <em>What is the class fee per person (for materials only unless a non-parent
    teacher is being paid which should be made clear in the description)</em>
  </div>

  <div class="field">
    <%= f.label :supplies %><br/>
    <%= f.text_area :supplies %><br/>
    <em>List any supplies that parents will need to provide. If you would like
    others to donate items, please post to the e-group.</em>
  </div>

  <div class="field">
    <%= f.label "Room Requirements" %><br/>
    <%= f.text_area :room_reqs %><br/>
    <em>Do you need chairs? How many? Do you need tables? How many? Do you need
    room to run? Do you need mats? Do you need the kitchen? Do you need access to
    art supplies? Tell us what your class needs so we can figure out which rooms
    will work for you, and how to set up in the morning.</em>
  </div>

  <div class="field">
    <%= f.label "Time Requirements" %><br/>
    <%= f.text_area :time_reqs %><br/>
    <em>Are you only attending part of the day? Would you prefer to teach in the
    morning/afternoon? Are there any classes you would prefer your class doesn't
    conflict with? Please leave any notes that would be helpful to the scheduler.
    They have a very big job, and we would like to reduce last-minute changes.
    If you don't list it here, we may not be able to accommodate your request.</em>
    </div>

  <div class="field">
    <%= f.label "Drop-ins ok?" %><br/>
    <%= f.check_box :drop_ins %> Yes <br/>
    <em>Used to indicate whether students may join this class after signups are
    closed. If there is a fee for the class, the student must make arrangements
    with the teacher regarding payment.</em>
  </div>

  <div class="field">
    <%= f.label :additional_info %><br/>
    <%= f.text_area :additional_info %><br/>
    <em>If there is anything else you would like to tell the co-op schedulers,
    management, or students who are interested in taking your class, please
    include that information here.</em>
  </div>
  
  <div class="field">
    <%= f.hidden_field :created_by_id, value: @course.created_by_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <div id="error_explanation">
    Information entered on this page is <strong>NOT</strong> private and will be accessible to the public.
  </div>

<% end %>
