<h3>Students (<%= @course.student_signups.count %><% if @course.full %>
    FULL)
    <% else %>)
      <% if @course.cuco_session.course_signups_open?(current_user) %>
        <%= link_to image_tag('add.png'), new_signup_cuco_session_course_path(@cuco_session, @course, type: :student), title: "Add Person to Course" %>
      <% end %>
    <% end %></h3>

<ul><% @course.student_signups.sort_by {|signup| [signup.person.last_name, signup.person.first_name]}.each do |course_signup| %>
  <% person = course_signup.person %>
  <li><%= person.name %>
    <% if person.age.nil? %> (adult)
    <% else %> (age <%= person.age %>)
    <% end %>
    <% if @course.cuco_session.course_signups_open?(current_user) and
          @people.include? person %>
      <%= link_to image_tag('delete.png'), destroy_signup_cuco_session_course_path(@cuco_session, course_signup), method: :delete,
            data: { confirm: 'Are you sure?' }, title: "Delete #{person.name}" %>
    <% end %>
  </li>
<% end %></ul>
  