<h3>Volunteers
  <% if current_user&.can? :manage_all, :course_signups %>
    <%= link_to image_tag('add.png'), new_cuco_session_course_course_signup_path(@cuco_session, @course, role_name: :teacher), title: "Add Person to Course" %>
  <% end %>
</h3>

<ul><% @course.volunteer_signups.includes(:course_role).order('course_roles.display_weight').each do |course_signup| %>
  <% person = course_signup.person %>
  <li><%= course_signup.course_role.name.titleize %>
    <% if person %>
      : <%= person&.name %>
    <% end %>
    <% if @course.cuco_session.course_signups_open? or
          current_user&.can? :manage_all, :course_signups %>
      <% if !person or @people.include? person or
            current_user&.can? :manage_all, :course_signups %>
        <%= link_to image_tag('wrench.png'), edit_cuco_session_course_course_signup_path(@cuco_session, @course, course_signup, role_name: :teacher) %>
      <% end %>
      <% if current_user&.can? :manage_all, :course_signups %>
        <%= link_to image_tag('delete.png'), cuco_session_course_course_signup_path(@cuco_session, @course, course_signup), method: :delete,
              data: { confirm: 'Are you sure?' }, title: "Delete #{course_signup.name}" %>
      <% end %>
    <% end %>
  </li>
<% end %></ul>
