<%= content_for :page_title, "#{@course.short_name} from #{@cuco_session.name}" %>

<% provide(:title, @course.name) %>

<p>
  <h2><%= @course.name %> (short version: <%= @course.short_name %>)</h2>
</p>

<p>
  <strong>Room:</strong>
  <% if !@course.room.nil? %>
    <%= @course.room.name %>
  <% else %>
    not yet assigned
  <% end %>
  <strong>Period:</strong>
  <% if !@course.period.nil? %>
    <%= @course.period.name %>
  <% else %>
    not yet assigned
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Age Range:</strong>
  <%= @course.min_age %> - <%= @course.max_age %> 
  <strong>Firm?:</strong>
  <%= @course.age_firm %>
</p>

<p>
  <strong>Number of Students:</strong>
  <%= @course.min_students %> - <%= @course.max_students %>
</p>

<p>
  <strong>Fee:</strong>
  <% if @course.fee and @course.fee != 0 %>
    <%= number_to_currency(@course.fee, precision: 0) %>
  <% else %>
    FREE
  <% end %>
</p>

<p>
  <strong>Supplies:</strong>
  <%= @course.supplies %>
</p>

<p>
  <strong>Room Requirements:</strong>
  <%= @course.room_reqs %>
</p>

<p>
  <strong>Time Requirements:</strong>
  <%= @course.time_reqs %>
</p>

<p>
  <strong>Drop-Ins?:</strong>
  <%= @course.drop_ins %>
</p>

<p>
  <strong>Additional Information:</strong>
  <%= @course.additional_info %>
</p>

<hr />

<% if current_user&.can? :show_students, :courses %>
  <%= render 'students' %>
  <%= render 'waiting_list' %>
  <%= render 'volunteers' %>
  <%= render 'people_in_room' %>
  <%= render 'unassigned_volunteers' %>
<% end %>

<%= link_to 'Edit', edit_cuco_session_course_path %> |
<%= link_to "Back to #{@cuco_session.name} Session", cuco_session_path(@cuco_session) %>
