<% provide(:title, @course.name) %>

<p>
  <h2><%= @course.name %> (short version: <%= @course.short_name %>)</h2>
</p>

<p>
  <strong>Room:</strong>
  <% if !@course.room.nil? %>
    <%= @course.room.name %>
  <% else %>
    not yet assigned
  <% end %>
  <strong>Period:</strong>
  <% if !@course.period.nil? %>
    <%= @course.period.name %>
  <% else %>
    not yet assigned
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Age Range:</strong>
  <%= @course.min_age %> - <%= @course.max_age %> 
  <strong>Firm?:</strong>
  <%= @course.age_firm %>
</p>

<p>
  <strong>Number of Students:</strong>
  <%= @course.min_students %> - <%= @course.max_students %> (<%= @course.people.count %> signed up)
</p>

<p>
  <strong>Fee:</strong>
  <% if @course.fee and @course.fee != 0 %>
    <%= number_to_currency(@course.fee, precision: 0) %>
  <% else %>
    FREE
  <% end %>
</p>

<p>
  <strong>Supplies:</strong>
  <%= @course.supplies %>
</p>

<p>
  <strong>Room Requirements:</strong>
  <%= @course.room_reqs %>
</p>

<p>
  <strong>Time Requirements:</strong>
  <%= @course.time_reqs %>
</p>

<p>
  <strong>Drop-Ins?:</strong>
  <%= @course.drop_ins %>
</p>

<p>
  <strong>Additional Information:</strong>
  <%= @course.additional_info %>
</p>

<hr />


<% if current_user&.can? :show_students, CoursesController %>
  <h3>Students in Course (<%= @course.people.count %>)
  <% if @course.cuco_session.course_signup?(current_user) %>
    <%= link_to image_tag('add.png'), new_cuco_session_course_course_signup_path(@cuco_session, @course), title: "Add Person to Course" %></h3>
  <% end %></h3>

  <ul>
  <% @course.people.each do |person| %>
    <li><%= person.name %>
      <% if person.age.nil? %> (adult)
      <% else %> (age <%= person.age %>)
      <% end %>
      <% if @course.cuco_session.course_signup?(current_user) and
         current_user&.person.family.people.include? person %>
        <%= link_to image_tag('delete.png'), cuco_session_course_course_signup_path(@cuco_session, @course, CourseSignup.find_by(course_id: @course.id, person_id: person.id)), method: :delete,
              data: { confirm: 'Are you sure?' }, title: "Delete #{person.name}" %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_cuco_session_course_path %> |
<%= link_to "Back to #{@cuco_session.name} Session", cuco_session_path(@cuco_session) %>
