<% provide(:title, @course.title) %>

<% if @course.assigned_room? or @course.assigned_period%>
  <% if @course.assigned_room? %>
    <strong>Assigned Room:</strong>
    <%= @course.room %>
  <% end %>
  
  <% if @course.assigned_period? %>
    <strong>Assigned Period:</strong>
    <%= @course.assigned_period %>
  <% end %>

  <hr />
<% end %>

<p>
  <h2><% @course.title %></h2>
</p>

<p>
  <strong>Short Title:</strong>
  <%= @course.short_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Minimum Age:</strong>
  <%= @course.min_age %>
</p>

<p>
  <strong>Maximum Age:</strong>
  <%= @course.max_age %>
</p>

<p>
  <strong>Age Limits Firm?:</strong>
  <%= @course.age_firm %>
</p>

<p>
  <strong>Minimum Number of Students:</strong>
  <%= @course.min_students %>
</p>

<p>
  <strong>Maximum Number of Students:</strong>
  <%= @course.max_students %>
</p>

<p>
  <strong>Course Fee:</strong>
  <%= @course.fee %>
</p>

<p>
  <strong>Supplies:</strong>
  <%= @course.supplies %>
</p>

<p>
  <strong>Room Requirements:</strong>
  <%= @course.room_reqs %>
</p>

<p>
  <strong>Time Requirements:</strong>
  <%= @course.time_reqs %>
</p>

<p>
  <strong>Drop-Ins?:</strong>
  <%= @course.drop_ins %>
</p>

<p>
  <strong>Additional Information:</strong>
  <%= @course.additional_info %>
</p>

<p>
  <strong>Created:</strong>
  <%= @course.created_at %>
</p>

<hr />

<h3>Students in Course</h3>

<%= link_to 'Edit', edit_cuco_session_course_path %> |
<%= link_to "Back to List of Courses", cuco_session_courses_path %>
