<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "CUCO", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
	<li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'Calendar', '#' %></li>
	<li><%= link_to 'FAQ', '#' %></li>
	<li><%= link_to 'Expectations', page: "expectations" %></li>
	<li><%= link_to 'A Day at CUCO', page: "dayatcuco" %></li>
	<li><%= link_to 'Family Demographics', '#' %></li>
	<li><%= link_to 'Child Demographics', '#' %></li>
	<li><%= link_to 'Login', '#' %></li>
      </ul>
    </nav>
  </div>
</header>
