<header class="navbar navbar-default.navbar-static-top navbar-inverse">
  <div class="container">
    <%= link_to "CUCO", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      	<li><%= link_to 'Home', root_path %></li>
	      <li><%= link_to 'Calendar', calendar_path %></li>
	      <li>FAQ</li>
	      <li><%= link_to 'Expectations', page_path("expectations") %></li>
	      <li><%= link_to 'A Day at CUCO', page_path("dayatcuco") %></li>
	      <% if (user_signed_in? and current_user.can? :add_event, CucoSessionsController) then %>
          <li><%= link_to 'New Session', new_cuco_session_path %></li>
        <% end %>
      </ul>
    </nav>

    <% if user_signed_in? %>
      <div id="logged_in">
        Welcome <%= current_user.first_name %> <%= current_user.last_name %>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div id="logged_out">
        <%= link_to 'Log in', new_user_session_path %>
        <%= link_to 'Sign up', new_user_registration_path %>
      </div>
    <% end %>

  </div>
</header>
