<header class="navbar navbar-default.navbar-static-top navbar-inverse">
  <div class="container">
    <%= link_to @site_name, root_path, id: "logo" %>
  
    <%= render "layouts/menu" %>

    <span id="welcome"><% if user_signed_in? %>
      Welcome <br /> <%= current_user.name %>
    <% end %></span>
  </div>
  
  <% if @current_session_info %>
    <div id="notice"><%= @current_session_info %></div>
  <% end %>
  <% if @next_session_info %>
    <div id="notice"><%= @next_session_info %></div>
    <% if @membership_signup_info %>
      <div id="notice"><%= @membership_signup_info %>
      <% if @next_cuco_session.full? # this information was already included in the next session info %>
        <% if !user_signed_in? %>
          <%= link_to "Sign up", new_user_registration_path %> or
          <%= link_to "log in", new_user_session_path %> and edit your user info
        <% else %>
          Edit <% link_to "your user info", user_path(current_user) %>
        <% end %>
        to be sure you're on our notification list for reminders about future sessions.
      <% else # !@next_cuco_session.full? %>
        <% if !user_signed_in? %>
          <%= link_to "Sign up", new_user_registration_path %> or
          <%= link_to "log in", new_user_session_path %> and edit your user info to be able to sign up
        <% elsif !current_user.person %>
          Enter or finish entering your <%= link_to 'family information', new_family_path %> to be able to sign up
        <% elsif current_user.person.family.cuco_sessions.include? @next_cuco_session %>
          Your family is a member of the <%= link_to "#{@next_cuco_session.name} session", @next_cuco_session %>.
        <% # check for a membership for this family in this session that is incomplete
           # a complete membership would have caught the previous elsif %>
        <% elsif !@next_cuco_session.memberships.where(family: current_user&.person&.family).empty? %>
          <%= link_to "Restart signup", new_cuco_session_membership_path(@next_cuco_session) %> or wait for your membership to be processed
        <% else %>
          <%= link_to "Sign up for membership", new_cuco_session_membership_path(@next_cuco_session) %>
        <% end %>
      <% end # @next_cuco_session.full? %>
      </div>
    <% end # @membership_signup_info %>
  <% end # next_session_info.nil? %>
  
  
  <div id="notice">We are currently experiencing an issue with processing PayPal payments. We are receiving your payment, but the website is not automatically updating your status as a member. We are updating manually as quickly as we can. We appreciate your patience. If it has been more than 24 hours since you paid and you are still not able to sign up for classes, please contact <%= mail_to "cucohelp@gmail.com" %>.</div>

</header>
