<header class="navbar navbar-default.navbar-static-top navbar-inverse">
  <div class="container">
    <%= link_to "CUCO", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      	<li><%= link_to 'Home', root_path %></li>
	      <li><%= link_to 'Calendar', calendar_path %></li>
	      <li><%= link_to 'FAQ', page_path("faq") %></li>
	      <li><%= link_to 'Expectations', page_path("expectations") %></li>
	      <li><%= link_to 'A Day at CUCO', page_path("dayatcuco") %></li>


        <!-- Borrowed from https://codepen.io/cristina-silva/pen/NNOodj/ -->
	      <% if user_signed_in? %>
          <li class="nav-item nav-item-dropdown">
            <a class="dropdown-trigger" href="#">Admin Settings</a>
            <ul class="dropdown-menu">

              <li class="dropdown-menu-item">
                <%= link_to 'Families', families_path %>
              </li>

              <li class="dropdown-menu-item">
                <%= link_to 'Users', users_path %>
              </li>
              
              <li class="dropdown-menu-item">
                <%= link_to 'Pronouns', pronouns_path %>
              </li>

              <li class="dropdown-menu-item">
                <%= link_to 'Rooms', rooms_path %>
              </li>
              
    	        <% if current_user.can? :add_event, CucoSessionsController then %>
                <li class="dropdown-menu-item">
                  <%= link_to 'Sessions', cuco_sessions_path %>
                </li>              
                <li class="dropdown-menu-item">
                  <%= link_to 'New Session', new_cuco_session_path %>
                </li>
              <% end %>
            
              <% if current_user.can? :index, :cuco_session then %>
                <li class="dropdown-menu-item">
                  <%= link_to 'Sessions', cuco_sessions_path %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
        
      </ul>
    </nav>

    <span id="welcome"><% if user_signed_in? %>
      Welcome <br /> <%= current_user.name %>
      <br /><%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path %>
      <br /><%= link_to 'Sign up', new_user_registration_path %>
    <% end %></span>

  </div>
</header>
