<header class="navbar navbar-default.navbar-static-top navbar-inverse">
  <div class="container">
    <%= link_to "CUCO", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      	<li><%= link_to 'Home', root_path %></li>
	      <li><%= link_to 'Calendar', calendar_path %></li>
	      <li><%= link_to 'FAQ', '#' %></li>
	      <li><%= link_to 'Expectations', page_path("expectations") %></li>
	      <li><%= link_to 'A Day at CUCO', page_path("dayatcuco") %></li>
	      <li><%= link_to 'Family Demographics', '#' %></li>
	      <li><%= link_to 'Child Demographics', '#' %></li>

        <% if user_signed_in? %>
          <li><%= link_to 'Families', families_path %></li>
        <% end %>
      </ul>
    </nav>

    <span id="welcome"><% if user_signed_in? %>
      Welcome <br /> <%= current_user.first_name %> <%= current_user.last_name %>
      <br /><%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path %>
      <br /><%= link_to 'Sign up', new_user_registration_path %>
    <% end %></span>

  </div>
</header>
