<header class="navbar navbar-default.navbar-static-top navbar-inverse">
  <div class="container">
    <%= link_to "CUCO", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      	<li><%= link_to 'Home', root_path %></li>
      	<% if user_signed_in? %>
        	<li><%= link_to 'My Info', user_path(current_user) %></li>
        <% end %>
	      <li><%= link_to 'Calendar', calendar_path %></li>
	      <li><%= link_to 'FAQ', page_path("faq") %></li>
	      <li><%= link_to 'Expectations', page_path("expectations") %></li>
	      <li><%= link_to 'A Day at CUCO', page_path("dayatcuco") %></li>


        <!-- Borrowed from https://codepen.io/cristina-silva/pen/NNOodj/ -->
	      <% if user_signed_in? and current_user.can? :index, :families %>
          <li class="nav-item nav-item-dropdown">
            <a class="dropdown-trigger" href="#">Admin</a>
            <ul class="dropdown-menu">

              <li class="dropdown-menu-item">
                <%= link_to 'Families', families_path %>
              </li>

              <li class="dropdown-menu-item">
                <%= link_to 'Users', users_path %>
              </li>
              
              <li class="dropdown-menu-item">
                <%= link_to 'Pronouns', pronouns_path %>
              </li>

              <li class="dropdown-menu-item">
                <%= link_to 'Rooms', rooms_path %>
              </li>
              
              <% if current_user.can? :index, EventTypesController %>
                <li class="dropdown-menu-item">
                  <%= link_to 'Event Types', event_types_path %>
                </li>
              <% end %>
              
    	        <% if current_user.can? :index, CucoSessionsController %>
                <li class="dropdown-menu-item">
                  <%= link_to 'Sessions', cuco_sessions_path %>
                </li>
              <% end %>
              
    	        <% if current_user.can? :new, CucoSessionsController %>
                <li class="dropdown-menu-item">
                  <%= link_to 'New Session', new_cuco_session_path %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
        
      </ul>
    </nav>

    <span id="welcome"><% if user_signed_in? %>
      Welcome <br /> <%= current_user.name %>
      <br /><%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path %>
      <br /><%= link_to 'Sign up', new_user_registration_path %>
    <% end %></span>
  </div>
  
  <% if !@current_cuco_session.nil? %>
    <div id="notice">Current Session: <%= @current_cuco_session.name %>.
    <% if !@next_event_in_current.nil? %>
      <%= @next_event_in_current.status_text %>
    <% else %>
      No upcoming events.
    <% end %>
    </div>
  <% end %>
  <% if !@next_cuco_session.nil? %>
    <div id="notice">Next Session: <%= @next_cuco_session.name %>.
    <% if !@next_event_in_next.nil? %>
      <%= @next_event_in_next.status_text %>
      <% if @membership_signup %>
        <strong>SIGN UP NOW (this is not a link yet)</strong>
      <% end %>
    <% else %>
      Dates not set yet. Please check back soon.
    <% end %>
  <% end %>
</header>
