<li class="dropdown-menu-item"><%= link_to 'Sessions', cuco_sessions_path %></li>

<% if current_user&.can? :show_concern_process, :users %>
  <li class="dropdown-menu-item"><%= link_to 'Concern Process', page_path("concern-process") %></li>
<% end %>

<% if current_user&.can? :index, :course_roles %>
  <li class="dropdown-menu-item"><%= link_to 'Volunteer Jobs', course_roles_path %></li>
<% end %>

<% if current_user&.can? :show_member_directory, :families %>
  <li class="dropdown-menu-item"><%= link_to 'Directory', families_show_member_directory_path %></li>
<% end %>

<% if current_user&.can? :show_emergency_contacts, :families %>
  <li class="dropdown-menu-item"><%= link_to 'Emergency Contacts', families_show_emergency_contacts_path %></li>
<% end %>

<li class="dropdown-menu-item">Demographics (coming soon)</li>