<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> - Columbus Unschoolers Cooperative (CUCO)</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Code needed for IE versions 9 or less -->
    <%= render 'layouts/shim' %>

  </head>

  <body>
    <!-- Code for header on all pages -->
    <%= render 'layouts/header' %>
    
    <!-- For devise -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- Body of each page -->
    <div class="container">
      <%= yield %>
    </div>
    
    <!-- Code for footer on all pages -->
    <%= render 'layouts/footer' %>

    <!-- debug information, but only if in development -->
    <%= debug(params) if Rails.env.development? %>
  </body>

</html>    

